body {
            background-size: cover;
            margin: 0;
            font:normal 12px/1.6em Arial, Helvetica, sans-serif
            
        }

        #body{
            height: auto;
            width: 800px;
            margin: 0 auto;
          
        }

        .name {
            color: #000;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            float: right;
            position: relative;
            margin-top: 0px;
            right: 5%;
            text-align: center;
            font-style: normal;
            letter-spacing: 1px;
            font-size: 13px;
        }

        #center {
            position: absolute;
            top: 15%;
            float: left;
            border-radius:30px;	
            padding-left: 20px;
        }

        p {
            color: rgb(0, 0, 0);
            font-family: 'Sans-Serif', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            float: center;
            line-height: 2;
            text-align: center;
            margin: 5px 10px;
            padding: 5px 10px;
            background-color: #f7f7f7;
            box-shadow: -2px -2px 9px #f7f7b9;
        }

        #artcenter {
        	text-align: justify;
            position: absolute;
            display: inline-block;
            top: 190%;
            left: 40%;
            width: 500px;
            transform: translateX(-50%) translateY(-50%);
        }

        .right {
            float: right;
            margin-left: 30px;
        }

        .background {
            width: 800px;
        }

       

        #layer-sub {
            float: right;
            margin-right: 3px;
            margin-left: 3px;

        }

        #nav a:visited,
        #nav a:link 
        {
            text-decoration: none;
            color: #ffffff;
        }

        

        #nav a {
            margin: 0 5px;
            font-size: 15px;
        }

        #nav a:hover {
            text-decoration: underline;
            color: #ffffff;
        }

        #nav {
        
            
            text-align: center;
            background-image: url("http://res.cloudinary.com/dxaubfssg/image/upload/v1524827784/slide.jpg");
            height: 130px;
            display: inline-block;
            width: 800px;
            padding-top: 20px;
            position: relative;
            font-size: 20px;
            letter-spacing: 1.5px;
            
        }

        #bg {
            height: 20px;
        }

        #link {
            float: right;
            padding-right: 20px;
            padding-top: 15px;

        }

        #footer {
            transform: translateX(0%) translateY(280px);
            clear: both;
            background: #f7f7f7;
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid #f0e9eb;
            text-align: center;
        }
   

        #like {
       		list-style-type:none;
            transform: translateX(-0.1%) translateY(200px);
            margin: 20px;
            width: 230px;
            padding: 5px 10px;
            background-color: #f7f7f7;
            box-shadow: -2px -2px 9px #f7f7f7b9;
        }

        h5 {
            color: rgb(6, 65, 124);
            font-size: 25px;
            line-height: 1.2;
            font-weight:bold;
        }

        h4 {
        	color:#ffffff;
            font-size: 20px;
            line-height: normal;

        }

        #text{
        	font-size: 17px;
        	color: #3399ff;
        	text-align: center;
        }

        #tod {
   
            border-left: 1px solid #5e5c5c46;
            border-right: 1px solid #5e5c5c46;
           /* border-top: 1px solid #5e5c5c46;*/
            border-bottom: 1px solid #5e5c5c46;
            height: 900px;
            width: 802px;
            
        }

        br {
        	letter-spacing: 1.5;
        	line-height: 0.5;
        }

        hr{
        	background-color: #ff0000;
        	float:center;
        	border-top: 1px dotted #8c8b8b;
        	border-bottom: 1px dotted #fff;
        }

        #foot-container {
            padding-top: 59px;
        }
